<div class="container">
    <h1>Escolas</h1>
    <a class="btn btn-primary" routerLink="/schools/new">Nova Escola</a>
    <table class="table" *ngIf="schools.length">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
                <th scope="col">Data de criação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let school of schools">
                <td>{{school.name}}</td>
                <td>{{school.address}}</td>
                <td>{{school.createdDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
    <div class="empty-list" *ngIf="!schools.length">
        Nenhuma escola cadastrada.
    </div>
</div>
