/* Global Styles */
@import "~bootstrap/dist/css/bootstrap.css";

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
